@keyframes pageFn
{
    0%{ transform:translate(0px,100%);}
    100%{ transform:translate(0px,0px);}
}

@-webkit-keyframes pageFn
{
    0%{ transform:translate(0px,100%);}
    100%{ transform:translate(0px,0px);}
}

@keyframes imgDouFn
{
    0%{ transform:translate(0px,0px);}
    12.5%{ transform:translate(0px,-8px);}
    25%{ transform:translate(0px,0px);}
    37.5%{ transform:translate(0px,8px);}
    50%{ transform:translate(0px,0px);}
    62.5%{ transform:translate(0px,-4px);}
    75%{ transform:translate(0px,0px);}
    87.5%{ transform:translate(0px,4px);}
    100%{ transform:translate(0px,0px);}
}

@-webkit-keyframes imgDouFn
{
    0%{ transform:translate(0px,0px);}
    12.5%{ transform:translate(0px,-8px);}
    25%{ transform:translate(0px,0px);}
    37.5%{ transform:translate(0px,8px);}
    50%{ transform:translate(0px,0px);}
    62.5%{ transform:translate(0px,-4px);}
    75%{ transform:translate(0px,0px);}
    87.5%{ transform:translate(0px,4px);}
    100%{ transform:translate(0px,0px);}
}

@keyframes jt_lFn
{
    0%{ margin-left:0px;}
    50%{ margin-left:-6px;}
    100%{ margin-left:0px;}
}

@-webkit-keyframes jt_lFn
{
    0%{ margin-left:0px;}
    50%{ margin-left:-6px;}
    100%{ margin-left:0px;}
}

@keyframes jt_rFn
{
    0%{ margin-left:0px;}
    50%{ margin-left:6px;}
    100%{ margin-left:0px;}
}

@-webkit-keyframes jt_rFn
{
    0%{ margin-left:0px;}
    50%{ margin-left:6px;}
    100%{ margin-left:0px;}
}

@keyframes shouFn
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(0px,-5px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(0px,5px);}
    100%{ transform:translate(0px,0px);}
}

@-webkit-keyframes shouFn
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(0px,-5px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(0px,5px);}
    100%{ transform:translate(0px,0px);}
}

@keyframes starFn
{
    0%{ opacity:1;}
    25%{ opacity:0;}
    50%{ opacity:0;}
    75%{ opacity:0;}
    100%{ opacity:1;}
}

@-webkit-keyframes starFn
{
    0%{ opacity:1;}
    25%{ opacity:0;}
    50%{ opacity:0;}
    75%{ opacity:0;}
    100%{ opacity:1;}
}

@keyframes bottleFn
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(4px,0px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(-4px,0px);}
    100%{ transform:translate(0px,0px);}
}

@-webkit-keyframes bottleFn
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(4px,0px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(-4px,0px);}
    100%{ transform:translate(0px,0px);}
}

@keyframes birdFn
{
    0%{ transform:scale(0.4) translate(0px,0px); opacity:0.5;}
    25%{ transform:scale(0.8) translate(-50px,-10px); opacity:1;}
    50%{ transform:scale(1) translate(-100px,-20px); opacity:0.2;}
    75%{ transform:scale(1) translate(-100px,-20px); opacity:0;}
    100%{ transform:scale(0.4) translate(0px,0px); opacity:0;}
}

@-webkit-keyframes birdFn
{
    0%{ transform:scale(0.4) translate(0px,0px); opacity:0.5;}
    25%{ transform:scale(1) translate(-8px,-2px); opacity:1;}
    50%{ transform:scale(1.1) translate(-8px,-2px); opacity:0.5;}
    75%{ transform:scale(1.1) translate(-8px,-2px); opacity:0;}
    100%{ transform:scale(0.4) translate(0px,0px); opacity:0;}
}

@keyframes heavenFn01
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(4px,0px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(-2px,0px);}
    100%{ transform:translate(0px,0px);}
}

@-webkit-keyframes heavenFn01
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(4px,0px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(-2px,0px);}
    100%{ transform:translate(0px,0px);}
}


@keyframes heavenFn02
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(8px,0px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(-4px,0px);}
    100%{ transform:translate(0px,0px);}
}

@-webkit-keyframes heavenFn02
{
    0%{ transform:translate(0px,0px);}
    25%{ transform:translate(8px,0px);}
    50%{ transform:translate(0px,0px);}
    75%{ transform:translate(-4px,0px);}
    100%{ transform:translate(0px,0px);}
}


@keyframes garbageFn
{
    0%{ transform:translate(0px,0px);}
    12.5%{ transform:translate(4px,4px);}
    25%{ transform:translate(0px,0px);}
    37.5%{ transform:translate(4px,-4px);}
    50%{ transform:translate(0px,0px);}
    62.5%{ transform:translate(-4px,-4px);}
    75%{ transform:translate(0px,0px);}
    87.5%{ transform:translate(-4px,4px);}
    100%{ transform:translate(0px,0px);}
}

@-webkit-keyframes garbageFn
{
    0%{ transform:translate(0px,0px);}
    12.5%{ transform:translate(4px,4px);}
    25%{ transform:translate(0px,0px);}
    37.5%{ transform:translate(4px,-4px);}
    50%{ transform:translate(0px,0px);}
    62.5%{ transform:translate(-4px,-4px);}
    75%{ transform:translate(0px,0px);}
    87.5%{ transform:translate(-4px,4px);}
    100%{ transform:translate(0px,0px);}
}


@keyframes imgRotateFn
{
    0%,100%{ -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    25%{ -moz-transform:rotate(15deg); -ms-transform:rotate(15deg); -webkit-transform:rotate(15deg); transform:rotate(15deg);}
    50%{ -moz-transform:rotate(-15deg);-ms-transform:rotate(-15deg); -webkit-transform:rotate(-15deg);transform:rotate(-15deg);}
    75%{ -moz-transform:rotate(5deg); -ms-transform:rotate(5deg); -webkit-transform:rotate(5deg); transform:rotate(5deg);}
    85%{ -moz-transform:rotate(-5deg); -ms-transform:rotate(-5deg); -webkit-transform:rotate(-5deg); transform:rotate(-5deg);}
}
@keyframes imgRotateFn{
    0%,100%{ -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    25%{ -moz-transform:rotate(15deg); -ms-transform:rotate(15deg); -webkit-transform:rotate(15deg); transform:rotate(15deg);}
    50%{ -moz-transform:rotate(-15deg);-ms-transform:rotate(-15deg); -webkit-transform:rotate(-15deg);transform:rotate(-15deg);}
    75%{ -moz-transform:rotate(5deg); -ms-transform:rotate(5deg); -webkit-transform:rotate(5deg); transform:rotate(5deg);}
    85%{ -moz-transform:rotate(-5deg); -ms-transform:rotate(-5deg); -webkit-transform:rotate(-5deg); transform:rotate(-5deg);}
}
