.animated{-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.animatedslow{-webkit-animation-duration:1.5s;animation-duration:1.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.animated.infinite,.animatedslow.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes tada{

    0%{transform-origin:18.4% 93.63%;}
    10%,20%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(-0.3deg);transform: rotate(-0.3deg)}
    30%,50%,70%,90%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(0.3deg);transform: rotate(0.3deg)}
    40%,60%,80%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(-0.3deg);transform: rotate(-0.3deg)}
    100%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(0);transform:rotate(0)}
}
@keyframes tada{
    0%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0)}
    10%,20%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(-0.3deg);-ms-transform: rotate(-0.3deg);transform:rotate(-0.3deg)}
    30%,50%,70%,90%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(0.3deg);-ms-transform: rotate(0.8deg);transform:rotate(0.3deg)}
    40%,60%,80%{transform-origin:18.4% 93.63%;-webkit-transform:rotate(-0.3deg);-ms-transform: rotate(-0.3deg);transform: rotate(-0.3deg)}
    100%{transform-origin:18.4% 93.63%;-webkit-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0)}
}
.tada{-webkit-animation-name:tada;animation-name:tada}

@-webkit-keyframes flash{
    0%,100%,50%{opacity:1}
    25%,75%{opacity:0.5}
}
@keyframes flash{
    0%,100%,50%{opacity:1}
    25%,75%{opacity:0.5}
}
.flash{-webkit-animation-name:flash;animation-name:flash}

@-webkit-keyframes waves {
    10% {
        height: 5%;
    }
    20% {
        height: 30%;
    }
    40% {
        height: 20%;
    }
    50% {
        height: 50%;
    }
    100% {
        height: 20%;
    }
}

@keyframes waves {
    10% {
        height: 8%;
    }
    20% {
        height: 14%;
    }
    40% {
        height: 20%;
    }
    50% {
        height: 55%;
    }
    100% {
        height: 30%;
    }
}

.music_bar:nth-child(1) {
    bottom:0;
    left:0;
    animation: waves 1.2s linear 0s infinite alternate;
    -webkit-animation: waves 1.2s linear 0s infinite alternate;
}

.music_bar:nth-child(2) {
    bottom:0;
    left:28.56%;
    animation: waves 0.9s linear 0s infinite alternate;
    -webkit-animation: waves 0.9s linear 0s infinite alternate;
}
.music_bar:nth-child(3) {
    bottom:0;
    left:57.12%;
    animation: waves 1.8s linear 0s infinite alternate;
    -webkit-animation: waves 1.8s linear 0s infinite alternate;
}
.music_bar:nth-child(4) {
    bottom:0;
    left:85.68%;
    animation: waves 1.5s linear 0s infinite alternate;
    -webkit-animation: waves 1.5s linear 0s infinite alternate;
}
.music_bar.plus{
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari 和 Chrome */
}
.animatedhj{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}
@-webkit-keyframes fadeOut {
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}
    100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}
    100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes fadeInLeft{
    0%{opacity:0;-webkit-transform:translateX(-20px);transform:translateX(-20px)}
    100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInLeft{
    0%{opacity:0;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
@-webkit-keyframes fadeInRight{
    0%{opacity:0;-webkit-transform:translateX(20px);transform:translateX(20px)}
    100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInRight{
    0%{opacity:0;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}

@-webkit-keyframes rotate{
    0%{transform-origin:50% 50%;-webkit-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0)}
    50%{transform-origin:50% 50%;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform:rotate(180deg)}
    100%{transform-origin:50% 50%;-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform:rotate(360deg)}
}
@keyframes rotate{
    0%{transform-origin:50% 50%;-webkit-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0)}
    50%{transform-origin:50% 50%;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform:rotate(180deg)}
    100%{transform-origin:50% 50%;-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform:rotate(360deg)}
}
.rotate{-webkit-animation-name:rotate;animation-name:rotate;-webkit-animation:rotate 2s infinite linear ;}deg);-ms-transform: rotate(360deg);transform:rotate(360deg)}
}
.rotate{-webkit-animation-name:rotate;animation-name:rotate;-webkit-animation:rotate 2s infinite linear ;}