@charset "utf-8";
/* CSS Document */
body,span,div,ul,li,ol,dl,dt,dd,a,img,input,textarea,h1,h2,h3,h4,h5,h6,p,form,em,b,u,i{ padding:0px; margin:0px; border:0px; list-style:none;}
body{ overflow-x:hidden; font-size:14px; color:#ccc; font-family:bannerFont,"Microsoft YaHei",'微软雅黑',Arial;background:#c3d8f5}
input,textarea,button,select{ font-size:13px; font-family:bannerFont,"Microsoft YaHei",'微软雅黑',Arial; outline:none;}
img{ vertical-align:top;}
i,em{ font-style:normal;}
a{ bblr:expression(this.onFocus=this.blur()); outline-style:none;}
a:visited,a:link{ text-decoration:none;}
a:hover{ color:#fff; text-decoration:none;}
a:active{}

input[type="submit"],input[type="reset"],input[type="button"]{ -webkit-appearance:none;}
/*ios系统中元素被触摸时产生的半透明灰色遮罩去掉*/
a,span,button,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*-webkit-user-modify:read-write-plaintext-only; */
}
/*input type=number*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{ -webkit-appearance:none !important;}/* chrome and safari */

/*定义字体*/
@font-face {
	font-family: 'bannerFont';
	src: url('../font/century-gothic.eot'); /* IE9 Compat Modes */
	src: url('../font/century-gothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/century-gothic.woff') format('woff'), /* Modern Browsers */
		 url('../font/century-gothic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/century-gothic.svg#../font/century-gothic') format('svg'); /* Legacy iOS */
}

.clearfix:after{ content:""; display:block; clear:both;}
.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}

.none{display: none;}
.black{color: black;}
.gray{color: gray;}

/*begin*/
html,body,.page,.tip{width: 100%;height:100%;margin:0;padding:0;overflow: hidden;}
.tip{position:fixed;top:0;left:0;z-index:2;background:rgba(0,0,0,0.8)}

.page_load>img{position: absolute;left:38%;top:26%;}
.page_load .load_text{color: black;text-align: center;}
.page_load .loading{width:23.33%;height:23.33vw;}
.page_load .load_text .load_num{font-size: 24px;line-height: 50px;margin-top:45vh; }
.page_load .load_text .black{font-size: 18px;line-height: 30px; }
.page_load .load_text .gray{font-size: 16px; }

.page_index{background:url(../images/index.jpg) no-repeat; background-size:100% 100%;}
.page_index img{position:absolute;display: none;}
.page_index .index_logo{position:absolute;display: block;right:5%;top:5%;width: 48px;height:85px;}
.page_index .index_find{width:26%;height:36.1%;top:26.5%;right: 17.1%;}
.page_index .index_jia{width:35%;height:62.2%;top:16.6%;right: 28.95%;}
.page_index .index_start{width:19%;height:34%;top:30.68%;left: 23%;}
.page_index .index_jia_l{width:5.4%;height:2.7%;top:48.5%;right: 31.6%;}
.page_index .index_jia_r{width:5%;height:3%;top:59.7%;right:13.16%;}

.page_door{position:relative;background:url(../images/close_door.jpg) no-repeat; background-size:100% 100%;}
.page_door>div,.page_door img{position:absolute;}
.page_door .door_circle,.page_door .door_circle_click{width: 4.64vh;height: 4.64vh;bottom:47.43%;left:52%;}
.page_door .door_circle_click{z-index: 2;}
.page_door .circle0{width: 22.22%;top:38.89%;left:38.89%;}
.page_door .circle1{width: 44.44%;top:27.78%;left:27.78%;}
.page_door .circle2{width: 74%;left:13%;top:13%;}
.page_door .circle3{width: 100%;height: 100%;}
.page_door .door_hand{width: 20.26%;height: 9.29%;bottom:41.46%;right:43.42%;}
.page_door .hover{animation:shouFn 1s linear infinite;}
.page_door .door_clue,.page_door .door_doorplate{width: 100%;height: 100%;position: fixed;top:0;left:0;z-index: 3;}
.page_door .door_clue .clue {width: 100%;height: 100%;}
.page_door .door_clue .door_start{width: 12.63%;height: 41.21%;left:17.5%;bottom:29%;}
.page_door .door_doorplate .door_plate{width: 46.3%;height:40.8%;left:26.85%;top:29.4%;}
.page_door .door_doorplate .door_close{width: 6.8vh;height:6.8%;left:66%;bottom:27%;z-index: 2;}
/*.page_door .doorplate img{width: 50%;left:25%;top:25%;display: none;}*/

.page_all{width: 100%;height: 300%;position: relative;top:-100%;}
.page_all .all_tip{position: fixed;top:0;right:7.9%;width: 10%;height:100%;z-index: 1;}
.page_all .all_tip .clue_tip{ position:absolute;width:34px;height:96px;top:20px;}
.page_all .all_tip .tip_lj,.page_all .all_tip .tip_ax{position:absolute;width:37px;height:148px;background:url(../images/tip_bg.png) no-repeat; background-size:100% 100%;}
.page_all .all_tip .tip_lj{top:136px;}
.page_all .all_tip .tip_ax{top:304px;}
.page_all .all_tip .tip_lj .tip_wen{width:40.26%;height:16%;margin-left:30%;margin-top:-5%;}
.page_all .all_tip .tip_ax .tip_wen{width:56%;height:16%;margin-left:30%;margin-top:-10%;}
.page_all .all_tip .tip_jia{width:25%;height:5.54%;margin-left:35%;margin-bottom:10%;margin-top:10%;}
.page_all .all_tip .tip_laji,.page_all .all_tip .tip_aixin{width:50%;height:12%;margin-left:25%;margin-top:22%;margin-bottom:35%;}
.page_all .lroom_tip{position: fixed;width: 100%;height: 100%;top:0;left:0;z-index: 3;}
.page_all .xsts .tip1,.page_all .xsts .tip2{position:absolute;width: 17.63%;height: 77.45%;top:11.28%;}
.page_all .xsts .tip1{right:23.68%;}
.page_all .xsts .tip2{right:46%;}
.page_all .xsts .continue{position:absolute;width: 10.79%;height:27.2%;top:35.65%;left:11.84%;}

.tab_left,.tab_right{position:fixed;width:13.16%;left:35%;z-index: 2;}
.tab_left{top:3%;}
.tab_right{bottom:3%;}

.page_all>.page{ height: 33.33%;position: relative;}
.page_lroom{background:url(../images/lroom.jpg) no-repeat; background-size:100% 100%;}
.page_lroom>div,.page_lroom>img{position:absolute;overflow: hidden;}
.page_lroom .lroom_yg{width:6%;height:4.5%;top:14%;left:17%;z-index: 2;}
.yj_yg{width:4.5%;height:4.5%;top:14%;left:17%;}
.page_lroom .lroom_cys{width:13.3%;height:9%;bottom:17%;right:35%;}
.page_lroom .lroom_jinyan{width:7.5%;height:2%;bottom:8.5%;right:24.5%;}
.page_lroom .lroom_menpai{width:4%;height:2%;bottom:42.5%;right:36%;}
.page_lroom .lroom_cl{width:30%;height:22%;top:10%;right:20%;z-index:1;}
.page_lroom .lroom_cz{width:20%;height:12%;top:15%;right:31%;z-index:2;}
.page_lroom .lroom_sf{width:24%;height:32%;top:8%;left:24%;z-index:2;}
.page_lroom .lroom_dt{width:16%;height:38%;bottom:11%;left:5%;border-radius:50%;}
.lroom_wa{width:7.2%;height:100%;left:15%;top:0;}
.jinyan .lroom_wa{width:7.2%;height:100%;left:19%;top:0;}
.menpai .lroom_wa{width:7.2%;height:100%;left:18%;top:0;}
.lroom_tip img{position:absolute;}
.lroom_tip .lroom_cz,.lroom_tip .three_cl{width: 46.3%;height:40.8%;left:32%;top:29.4%;}
.lroom_tip .esy{width: 56.4%;height:47.26%;left:25%;top:26.4%;}
.lroom_tip .lroom_cns{width: 54.93%;height:47.6%;left:27.5%;top:25%;}
.lroom_tip .lroom_jy{width: 46.3%;height:20.8%;left:32%;top:39.4%;}
.lroom_tip .lroom_menpai{width: 46.3%;height:40.8%;left:32%;top:29.4%;}

.lroom_tip .esy_tip{width: 16.3%;right:19%;top:45%;}
.yandou .lroom_close,.dahuoji .lroom_close,.yangang .lroom_close{bottom:23%;}
.lroom_tip .lroom_dq{width:11.84%;height:30%;left:32%;top:35%;}
.lroom_close{width: 12.4%;left:66%;bottom:27%;z-index: 2;}
.cys .lroom_close{bottom:24%;left:75%;}
.jinyan .lroom_close{bottom:37%;left:71%;}
.menpai .lroom_close{left:71%;}

.page_kitchen{background:url(../images/kitchen.jpg) no-repeat; background-size:100% 100%;}
.page_kitchen>div,.page_kitchen>img{position:absolute;overflow: hidden;}
.page_kitchen .kitchen_yy{width:6%;height:40%;bottom:10%;right:29%;}
.page_kitchen .kitchen_cz{width:25%;height:21.5%;top:25%;right:23%;}
.page_kitchen .kitchen_jhq{width:45%;height:15.5%;bottom:4%;left:12%;}
.page_kitchen .lroom_dhj{width:4.2%;height:3.15%;bottom:33%;left:39%;z-index: 2;}
.yj_dhj{width:4%;height:3.8%;bottom:33%;left:39%;}

.page_room{background:url(../images/room.jpg) no-repeat; background-size:100% 100%;}
.page_room>div,.page_room>img{position:absolute;overflow: hidden;}
.page_room .room_cz{width:37%;height:14%;bottom:11%;right:18%;}
.page_room .room_cl{width:44%;height:26%;bottom:5%;right:14%;}
.page_room .room_yd{width:4%;height:3%;bottom:19%;right:51%;}
.yj_yd{width:4%;height:4%;bottom:18%;right:52%;-ms-transform:rotate(-35deg); /* IE 9 */
	-moz-transform:rotate(-35deg); /* Firefox */
	-webkit-transform:rotate(-35deg); /* Safari and Chrome */
	-o-transform:rotate(-35deg); /* Opera */}
.page_room .room_ydfw{width:8%;height:14%;bottom:12%;right:48%;z-index:2;}
.page_room .room_rili{width:12%;height:6%;top:13.5%;right:37%;}
.lroom_rili{width: 51.87%;height:53.15%;left:24%;top:24%;}
.rili .lroom_close{left:60%;bottom:20%;}

.page_result{background:url(../images/result.jpg) no-repeat; background-size:100% 100%;}
.page_result>img{position:absolute;}
.page_result .result_ryzs{height:37.97%;width:90%;right:4%;top:12.61%;-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */}
.result_again,.result_save,.result_share{width:11.33%;height:31.5%;bottom:4.39%;}
.result_again{right:26%;}
.result_save{right:43.33%;}
.result_share{right:60.66%;}
.page_result .result_ansave{width: 20.26%;height: 9.29%;top:33%;right:43.42%;}
.page_result .hover{display:block;animation:shouFn 1s linear infinite;}
.result_tip>img{position:absolute;z-index: 3;}
.result_tip .share_close{width: 14.13%;height:14.13vw;top:45.6%;left:16%;}
.result_tip .share_wa{width: 9.33%;height:58%;top:21%;left:42.67%;}
.result_tip .jiantou{width: 18.4%;height:9.54%;top:10.78%;right:16%;}